:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-around;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  cursor: pointer;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.backlog, .done {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  border: aliceblue solid 1px;
}

.stats {
  width: 200px;
  padding: 2px;
  border: aliceblue solid 1px;
}

.userStory {
  align-content: center;
  text-align: center;
  padding: 2px;
  width: 40px;
  height: 40px;
  border: aliceblue solid 1px;
  margin: 2px;
}

.threads {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: aliceblue solid 1px;

  .thread {
    align-content: start;
    text-align: center;
    padding: 2px;
    width: 70px;
    height: 70px;
    border: aliceblue solid 1px;
    margin: 2px;
  }
}
