:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-around;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  cursor: pointer;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.done {
  width: 100%;
  height: 30vh;
}

.backlog {
  width: 100%;
  height: 30vh;

  .userStory {
    align-content: center;
    text-align: center;
    padding: 2px;
    min-width: 40px;
    min-height: 40px;
    border: aliceblue solid 1px;
    position: absolute;
    left: 0;
    top: 0;
    transition: left 1s ease, top 1s ease;
  }
}

.threads {
  width: 100%;
  display: flex;
  justify-content: space-around;

  .thread {
    align-content: center;
    text-align: center;
    padding: 2px;
    min-width: 40px;
    min-height: 40px;
    border: aliceblue solid 1px;
  }
}
